@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* first part-content*/
.first-part{
    background-color: #2d3e50;
}
.firstpart-content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.firstpart-content h6{
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.firstpart-content h5{
    font-family: 'proxima-nova', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.firstpart-content span{
    margin-right: 10px;
    color:#ffc000;
    display: inline-block;
}
/* Nav-bar*/
.logo{
    font-size: 21px;
    color: #252c30 !important;
    font-family: 'proxima-nova', sans-serif;
    font-weight: 700;

}
.logo span{
    color: #ffc000;
}
.nav-link{
    color: #252c30 !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.nav-link:hover{
    color: #ffc000 !important;
}
.navbar{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}
.bg-color{
    color: #fff;
}
/* carousel*/
.carousel-caption{
    bottom: 16.25rem !important;
    right:12% !important
}
.carousel-caption h5{
    font-size: 72px !important;
    max-width: 720px;
    margin: auto;
    color: #fff;
    font-weight: 700;
    font-family: 'proxima-nova', sans-serif;
    margin-bottom: 30px;
}
.carousel-caption span{
    color: #ffc000;
}
.carousel-caption p{  
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    max-width: 720px;
    margin: auto;
    color: #fff;
    margin-bottom: 60px;
}
.carousel-caption a{
    text-decoration: none;
    width: 250px;
    height: 50px;
    background-color: #ffc000;
    border-radius: 30px;
    display: inline-block;
    line-height: 50px;
    color: #fff;
}
.carousel-caption a:hover{
    color: blue;
    background-color:chartreuse;
}
/*slider bottom button*/
.carousel-dark .carousel-indicators [data-bs-target]{
    background-color: #ffc000 !important;
}
.carousel-control-prev,
.carousel-control-next {
    color: #ffc000 !important;
    font-size: 35px;
}


/* 2nd part*/
.we-offer{
    background-color: #fff;
    padding: 120px 0px 120px;

}
.we-offer .w-content{
    max-width: 740px;
    margin: auto;
    text-align: center;
}
.we-offer .w-content h5{
    font-size: 18px;
    font-weight: 400;
    font-family: 'proxima-nova', sans-serif;
    margin-bottom: 20px;
    color: #232323;
}
.we-offer .w-content h2{
    font-size: 36px;
    font-weight: 700;
    font-family: 'proxima-nova', sans-serif;
    margin-bottom: 30px;
    color: #252c30;
}
.we-offer .w-content span{
    color: #ffc000;
}
.we-offer .w-content p{
    font-size: 18px;
    font-weight: 400;
    font-family: 'proxima-nova', sans-serif;
    text-align: center;
    margin-bottom: 60px;
    color: #232323;
    margin-bottom: 60px;
}
/* box part*/
.my-width1{
    max-width: 1240px;
    margin: auto;
}
.box .box-1{
    width: 300px;
    height: 380px;
    border: 2px solid #ffc000;
    background-color: #2d3e50;
    margin-left: 15px;
}
.box .box-1:hover{
    background-color: #fff;
}
.box .box-1 .box-content{
    max-width: 210px;
    margin: auto;
    text-align: center;
    margin: 60px auto 90px;
}
.box-content .circle{
    width: 60px;
    height: 60px;
    background-color: #ffc000;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    margin-bottom: 45px;
}
.box .box-content .box-icon{
    font-size: 35px;
    line-height: 60px;
    text-align: center;
    color: #fff;
}
.box .box-1 .box-content h3{
    font-family: 'proxima-nova', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
}
.box .box-1 .box-content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
}
/* box part end*/

/* services part*/
.services{
    margin-top: 120px;
    margin-bottom: 120px;
    margin-right: 35px;

}

.ourservice{
    margin-left: 60px;
}
.ourservice .s1 {
	margin-bottom: 45px;
}
.ourservice .s2, .s3, .s4{
    display: flex;
}
.ourservice .s2 .img1{
    margin-right: 30px;
}
.ourservice .s3 .img2{
    margin-right: 30px;
}
.ourservice .s4 .img3{
    margin-right: 30px;
}
.repair h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
}
.wall h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
}
.premium h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #232323;
}
.repair p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 35px;
}
.wall p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
    margin-bottom: 35px;
}
.premium p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #232323;
}
.complete{
    background-image: url(../images/banner1.jpg);
    background-position: left;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 110px;
}
.complete .com1{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 80px;
}
.com1 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com1 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}

.complete .com2{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 60px;
}
.com2 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com2 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}

.complete .com3{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 60px;
}
.com3 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com3 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}
.complete .com4{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 60px;
}
.com4 h2{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 26px;
    font-weight: 400;
}
.com4 p{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    font-size: 46px;
    font-weight: 700;
}
/*media quary*/
@media (max-width:768px){
    .carousel-caption{
        bottom: 4.25rem !important;
    }
    .carousel-caption h5{
        font-size: 44px !important;
    }
    .box .box-1{
        max-width: 700px;
        margin: 0px auto 55px;
    }
    .we-offer .w-content{
        max-width: 650px;
    }
    /*shibly*/
    .complete .com1 {
        padding-right: 40px;
    }
    .complete .com2 {
        padding-right: 40px;
    }
    .complete .com3 {
        padding-right: 40px;
    }
    .complete .com4 {
        padding-right: 40px;
    }
    .com1 h2 {
        font-size: 20px;
    }
    .com1 p {
        font-size: 30px;
    }
    .com2 h2 {
        font-size: 20px;
    }
    .com2 p {
        font-size: 30px;
    }
    .com3 h2 {
        font-size: 20px;
    }
    .com3 p {
        font-size: 30px;
    }
    .com4 h2 {
        font-size: 20px;
    }
    .com4 p {
        font-size: 30px;
    }
    .services {
        margin-bottom: 20px;
    }
    .complete {
        margin-bottom: 37px;
    }
    .col-md-12{
        margin-bottom: 45px !important;
    }
}
/*shibly*/
@media (max-width: 401px){
    .complete .com1{
        padding-right: 10px;
        padding-top: 85px;
    }
    .complete .com2{
        padding-right: 10px;
        padding-top: 85px;
    }
    .complete .com3{
        padding-right: 10px;
        padding-top: 85px;
    }
    .complete .com4{
        padding-right: 10px;
        padding-top: 85px;
    }
    .com1 h2{
        font-size: 10px;
    }
    .com1 p{
        font-size: 15px;
    }
    .com2 h2{
        font-size: 10px;
    }
    .com2 p{
        font-size: 15px;
    }
    .com3 h2{
        font-size: 10px;
    }
    .com3 p{
        font-size: 15px;
    }
    .com4 h2{
        font-size: 10px;
    }
    .com4 p{
        font-size: 15px;
    }
    .complete {
        margin-bottom: 10px;
        margin-top: -42px;
    }
    .ourservice .s1 {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .repair h2 {
        font-size: 13px;
    }
    .repair p {
        font-size: 12px;
    }
    .ourservice .s2 {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .wall h2 {
        font-size: 13px;
    }
    .wall p {
        font-size: 12px;
    }
    .ourservice .s3 {
        margin-bottom: 25px;
        margin-top: 20px;
    }
    .premium h2 {
        font-size: 13px;
    }
    .premium p {
        font-size: 12px;
    }
    .repair p {
        margin-bottom: 14px;
    }
    .wall p {
        margin-bottom: 14px;
    }
    .premium p {
        margin-bottom: 14px;
    }
}
@media (min-width:375px) and (max-width:767px){
    .img-fluid{
        height: 360px !important;
    }
    .carousel-caption{
        bottom: 1.25rem !important;
    }
    .carousel-caption a{
        width: 200px;
    }
    .carousel-caption h5{
        font-size: 35px !important;
        margin-bottom: 20px;
        text-align: center;
    }
    .carousel-caption p{
        margin-bottom: 30px !important;
        font-size: 16px;
    }
    .we-offer .w-content{
        max-width: 300px;
    }
    /* shibli*/

}
@media (max-width:360px){
    .img-fluid{
        height: 650px !important;
    }
}